<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est minima, provident ipsum corrupti sed hic, id ab nemo recusandae voluptates fugiat magnam error iusto. Neque ducimus iusto pariatur doloribus?</p> 
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1">
            
        </div>
    </div>
</div>